@import '/Miscellaneous/general.css';

body {
  overflow-x: hidden;
}

.text-secondary-grad {
  background: linear-gradient(115deg, var(--background-dark), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#banner {
  width: 100%;
  height: 90vh;
  background: linear-gradient(var(--accent) 0%,
      var(--background) 95%);
}


#banner>* :nth-child(1) {
  -webkit-text-stroke: 3px var(--accent);
  background: linear-gradient(190deg, var(--background-light), var(--background-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-size: 8vw;
  padding-top: 15vh;
  font-weight: bolder;
}

@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 100% 50%;
  }
  40% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#banner>* :nth-child(2) {
  -webkit-text-stroke: 3px var(--accent);
  background: linear-gradient(190deg, var(--background-light), var(--background-dark));
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 9vw;
  font-weight: bolder;
  
  animation: moving-gradient 5s linear infinite;
}


#info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.choice {
  background-color: var(--accent);
  height: 180px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  float: left;
  align-items: center;
  transition: width 0.2s;
  border-radius: 3px;
}

.expand {
  width: 35%;
}

.unset {
  width: 30%;
  color: black !important;
  background-color: #ddd !important;
}

.small {
  width: 20%;
}

.small>div {
  opacity: 0;
}

.unset>div>p {
  opacity: 0;
}

.expand>div {
  transition-delay: 200ms;
  opacity: 1;
}

#partner {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.description {
  width: 60vw;
  margin-left: 5vw;
  margin-right: 3vw;
  border-radius: 15px;
  border: 10px solid var(--accent);
  text-align: center;
  padding: 20px;
  display: flex;
  font-size: 20px;
  float: left;
}

.contact {
  width: 20vw;
  border-radius: 15px;
  margin-left: 3vw;
  margin-right: 5vw;
  border: 10px solid var(--accent);
  text-align: center;
  font-size: 15px;
  float: left;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact>.info-card-title {
  padding-top: 20px;
  width: 70%;
}

.contact>.info-card-content {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
}


footer {
  color: var(--accent-dark);
  font-size: 1.2rem;
  font-weight: bolder;
  background: var(--background-light);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer:first-child {
  height: 50px;
  margin-bottom: 0px;

  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContent {
  margin-left: 5vw;
  margin-right: 5vw;
}

#bottom-footer {
  margin-bottom: 0px;
  padding-bottom: 16px;
}

#partner-blerb>* {
  text-align: justify;
}

.info-card-title> :first-child> :first-child::after {
  content: '';
  display: block;
  width: 130%;
  height: 0.1em;
  background:
    linear-gradient(90deg,
      var(--background),
      var(--accent-dark),
      var(--accent-dark),
      var(--background));
  opacity: 1;

  /*11.5 is approximately (1-(1/1.3))/2 which is the correct equation to translate the element to the middle. Do not change this number except incase you change the width in which case adjust accoding to forumla*/
  transform: translateX(-11.5%);
}