@import '/Miscellaneous/general.css';

.text-secondary-grad {
  background: linear-gradient(115deg, var(--background-dark), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes grad {
  from {
    background: linear-gradient(115deg, var(--bs-primary), var(--bs-primary-light));
  }

  to {
    background: linear-gradient(115deg, var(--bs-secondary), var(--bs-secondary-dark));
  }
}

.startJumbotron {
  text-align: center;
  font-weight: bolder;
  font-size: 100px;
  transition: all 1s;
}

.startJumbotron #reality {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  align-self: flex-end;
}

#introParent {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 70vh;
}

#intro-block {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-delay: 10ms;
  animation-iteration-count: 1;

  box-shadow: 0px 0px 40px var(--bs-secondary-bg-subtle);
  width: 80vw;
  aspect-ratio: 16/7;
  align-items: end;
  font-size: 7vw;
}

#intro-block #reality {
  font-size: 2em;
}


#intro-block:hover {
  cursor: pointer;
}

#reality {
  animation-name: fade-in !important;
  animation-duration: 1.5s !important;
  animation-delay: 10ms;
  animation-iteration-count: 1 !important;
  animation-fill-mode: backwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.choice{
  background-color: var(--accent);
  height: 180px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  float: left;
  align-items: center;
  transition: width 0.2s;
  border-radius:3px;
}
.expand{
  width: 35%;
}
.unset{
  width: 30%;
  color: black !important;
  background-color: #ddd !important;
}
.small{
  width: 20%;
}
.small>div{
  opacity: 0;
}
.unset > div > p{
  opacity: 0;
}
.expand > div {
  transition-delay: 200ms;
  opacity: 1;
}

#partner {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.description {
  width: 60vw;
  margin-left: 5vw;
  margin-right: 3vw;
  border-radius: 15px;
  border: 10px solid #A13A3C;
  text-align: center;
  padding: 20px;
  display: flex;
  font-size: 20px;
  float: left;
}

.contact {
  width: 20vw;
  border-radius: 15px;
  margin-left: 3vw;
  margin-right: 5vw;
  border: 10px solid #A13A3C;
  text-align: center;
  display: flex;
  font-size: 15px;
  float: left;
}

footer {
  border-radius: 15px;
  border-top: 5px solid #A13A3C;
  text-align: center;
  justify-content: space-around;
}

.footerContent {
  margin-left: 5vw;
  margin-right: 5vw;
}
